/*---------------------------------Classic rules*/
ol {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px auto;
  background-color: #FFF;
  font-family: "Montserrat"; }

/*----------------------------------Header Style*/
header {
  background-color: #A2DED0;
  height: 100px;
  width: auto;
  margin: 0px auto;
  border-bottom: 4px solid #3A539B; }

.nav {
  width: 1000px;
  height: auto;
  margin: 0px auto;
  line-height: 100px;
  overflow: auto; }

.nav a {
  text-decoration: none;
  color: #3A539B;
  height: 20px; }

.nav li {
  display: inline; }

.nav li label {
  color: #3A539B;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px; }

.link-left {
  float: left; }

.link-right {
  float: right; }

.link-right a:hover {
  border-bottom: 4px solid #1BBC9B; }

#logout-icon {
  width: 25px; }

/*------------------------------------Logo Style*/
#logo {
  font-family: "Die Nasty";
  color: #1BBC9B;
  font-size: 55px;
  line-height: 80px;
  float: left;
  transition-duration: 0.5s;
  margin-top: 0px;
  height: inherit;
  padding: 10px;
  text-shadow: 4px 4px 0 #3A539B, 3px 3px 0 #3A539B, 2px 2px 0 #3A539B, 1px 1px 0 #3A539B; }

.logo-icon {
  height: 60px;
  margin-top: 20px;
  margin-left: 20px; }

.user-logo {
  width: 70px;
  height: 70px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px; }

#logo:hover {
  /*animation: move linear 2000ms infinite;*/
  text-shadow: none; }

/*-------------------------------------Error Style*/
.header-error {
  width: 100%;
  height: 30px;
  background-color: #1BBC9B;
  line-height: 30px;
  text-align: center;
  color: #FFF; }

.form-error {
  padding: 0px;
  height: 50px;
  width: inherit;
  background-color: black; }

/*-------------------------------------Footer Style*/
#footer {
  width: 100%;
  background-color: #1BBC9B;
  color: #3A539B;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  line-height: 40px;
  left: 0px;
  bottom: 0px;
  height: 40px;
  margin-top: 80px; }

/*-------------------------------------Form Style*/
form {
  background-color: #FFF;
  width: 300px;
  border: 2px solid #3A539B;
  border-radius: 2px;
  padding: 60px;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  box-shadow: 2px 2px #A2DED0, 4px 4px #A2DED0, 6px 6px #A2DED0;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px); }

form label {
  color: #3A539B; }

#form-title {
  font-family: "Die Nasty";
  font-size: 25px;
  display: block; }

.champs {
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  width: 90%;
  font-size: 20px;
  text-align: center;
  color: #3A539B;
  font-weight: bold;
  border-bottom: 4px solid #1BBC9B;
  background-color: #C8F7C5; }

.champs:focus, .champs:hover {
  border-radius: 2px;
  transition-duration: 0.5s; }

.button-valid {
  background-color: #FFF;
  border: 2px solid #3A539B;
  padding: 10px;
  border-radius: 2px;
  color: #1BBC9B;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 110px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }

.button-valid:hover {
  background-color: #1BBC9B;
  border: none;
  color: #FFFFFF;
  font-weight: bold; }

/*--------------------------------------Card Class Style*/
.row {
  display: table;
  table-layout: fixed;
  margin: 0px auto;
  border-spacing: 50px; }

.card {
  width: 400px;
  height: 380px;
  text-align: center;
  display: table-cell;
  border: 2px solid #3A539B;
  border-radius: 2px;
  transition-duration: 0.5s;
  background-color: #FFF; }

.card img {
  width: calc(100% - 8px);
  margin-top: 4px; }

.card .info {
  width: inherit;
  height: 24px;
  color: #3A539B;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: #A2DED0;
  text-align: left;
  line-height: 20px; }

.card #user {
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-weight: bold; }

.card .link-right {
  font-size: 14px;
  line-height: 30px; }

.card .info li {
  display: inline; }

.card:hover {
  box-shadow: 1px 1px #1BBC9B, 2px 2px #1BBC9B, 3px 3px #1BBC9B, 4px 4px #1BBC9B, 5px 5px #1BBC9B, 6px 6px #1BBC9B;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
  transition-duration: 0.5s; }

/*---------------------------------------Camagru Style*/
.camagru {
  width: 800px;
  height: 500px;
  margin: 0px auto;
  background-color: #FFF;
  border: 2px solid #3A539B;
  border-radius: 2px;
  text-align: center;
  margin-top: 80px;
  box-shadow: 2px 2px #1BBC9B, 4px 4px #1BBC9B, 6px 6px #1BBC9B;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
  display: block; }

#video {
  margin: auto;
  margin-top: 60px;
  display: block;
  border-radius: 2px; }

#startbutton {
  background-color: #FFFFFF;
  border: 2px solid #373737;
  padding: 10px;
  border-radius: 2px;
  color: #1BBC9B;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 210px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0px auto;
  margin-top: 40px; }

#startbutton:hover {
  background-color: #1BBC9B;
  border: none;
  color: #FFFFFF;
  font-weight: bold; }
